html {
    margin: 0;
    min-height: 100%;
    position: relative;
}

body {
    margin-bottom: 86px;
}

main {
    padding: 30px 0 30px 0;
}

main .row {
    margin-top: 0px;
}

main .lead {
    margin-bottom: 10px;
}

.container-md .row .card {
    display: block;
    width: 12rem;
    padding: 0;
    margin: 10px;
    /*border: solid 1px green;*/
    border: none;
    border-radius: 0;
}

.container-md .row .card .card-body a {
    font-size: 13pt;
    text-decoration: none;
    color: black;
}

footer {
    position: absolute;
    bottom: 0;
    height: 86px;
    width: 100%;
}

footer i {
    font-size: 15pt;
}